@import '../../../less/colors.less';

.gantt-leftbar {
  margin-top: 90px;

  &-wrap {
    position: fixed;
    height: calc(100vh - 15px);
    overflow: hidden;
    z-index: 100;
  }

  &__task-name {
    display: flex;
    justify-content: space-between;
    width: 218px;
    height: 28px;
    padding: 0 0 0 10px;
    border: 1px solid @light-gray;
    border-top: none;
    background: @white;
    z-index: 10;
    line-height: 28px;
  }

  &__total {
    width: 50px;
    border-left: 1px solid @light-gray;
    line-height: 28px;
    text-align: center;
    box-shadow: inset -2px 0px 0px 0px @blue;
  }
}